	#blue{
	width: 100px;
	height:100px;
	background-color:blue;	
	}
	
	#yellow{
	width: 100px;
	height:100px;
	background-color:yellow;	
	}	
	
	#red{
	width: 100px;
	height:100px;
	background-color:red;	
	}
	
	#black{
	width: 100px;
	height:100px;
	background-color:black;	
	}
	
	#green{
	width: 100px;
	height:100px;
	background-color:green;	
	}
	
	#pink{
	width: 100px;
	height:100px;
	background-color:pink;	
	}
	
	#blue, #yellow, #red, #black, #pink, #green {
	display:none;
	margin: 0 auto;	
	}		
	
	#button {
	width: 50px;
	height:50px;
	text-align: center;
	border:1px dotted red;
	position: relative;
	top:100px;
	left:500px;
	}